dbfit-java/derby/dbfit/

# IDEs
.idea
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
out

dist
/docs
tmp/*
custom_libs/*.jar

# the VM
test_vm/cookbooks
test_vm/.vagrant
test_vm/tmp
test_vm/Disk1
test_vm/vagrant_config_custom.rb
oracle-xe-*.rpm.zip
db2_linuxx64_expc.tar.gz

# the documentation
website/_site

# FitNesse history files and excluded folders
FitNesseRoot/ErrorLogs
FitNesseRoot/files/testResults
FitNesseRoot/files/testProgress
FitNesseRoot/update*
FitNesseRoot/RecentChanges
[0-9]*-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9].zip
[A-Za-z0-9]*-[0-9]*-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9].zip

# The build tool
build
.gradle
gradle.properties
target
dbfit-complete-*.zip
dbfit-java/oracle/TestDbConnectionDbFitInformixINFORMIX.properties
dbfit-java/oracle/TestDbConnectionDbFitInformixINFORMIX.properties.custom
dbfit-java/oracle/TestDbConnectionDbFitInformixANSI.properties
dbfit-java/oracle/TestDbConnectionDbFitInformixANSI.properties.custom
dbfit-java/oracle/TestDbConnectionDbFitOracle.properties
dbfit-java/oracle/TestDbConnectionDbFitOracle.properties.custom
