dbfit-java/derby/dbfit/

# IDEs
.idea
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
out
.vscode

dist
/zips/
/docs
tmp/*
custom_libs/*.jar

# the VM
test_vm/cookbooks
test_vm/.vagrant
test_vm/tmp
test_vm/Disk1
test_vm/vagrant_config_custom.rb
test_vm/disk1.vdi
test_vm/.Vagrantfile.swp
test_vm/*.box
oracle-xe-*.rpm.zip
db2_linuxx64_expc.tar.gz
ids-linux-x86_64.tar

# the documentation
website/_site

# FitNesse history files and excluded folders
FitNesseRoot/ErrorLogs
FitNesseRoot/files/testResults
FitNesseRoot/files/testProgress
FitNesseRoot/update*
FitNesseRoot/RecentChanges
FitNesseRoot/RecentChanges.wiki
[0-9]*-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9].zip
[A-Za-z0-9]*-[0-9]*-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9].zip

# The build tool
build
.gradle
gradle.properties
target
dbfit-complete-*.zip
dbfit-java/*/TestDbConnection*.properties
dbfit-java/*/TestDbConnection*.properties.custom

